/**
 * FORMS EUHUIEDWLNFCLEWLJ<
 * GAMBIARRAS ;-;
 */

.form-card-container{
	perspective: 800px;
}

.form-card-container.flipped .form-card{
	transform-style: preserve-3d;
}

.form-card-container.flipped .form-card:not(.form-card-back){
	-webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */
}

.form-card-back{
	-webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */
}

.form-card-container.flipped .form-card.form-card-back{
	-webkit-transform: rotateY(360deg); /* Safari */
    transform: rotateY(360deg); /* Standard syntax */
}

.form-card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-top: 2rem;
	margin-bottom: 2rem;
	
	border-left: solid 5px #98D353;
	padding: 1rem 0.5rem 2rem 0;
	
	background-color: rgb(251, 251, 251);
	text-align: left;
	
	transition: transform 1s linear 0s;
	backface-visibility: hidden;
}

.form-card-hidden{
	visibility: hidden;
}

.form-card input:not([type="radio"]), .form-card button{
	width: 100%;
}

.form-text-content{
	float: right;
}

/*
 * FORM ARROW
 */
.form-field-arrow{
	float: left;
	
	margin: 1rem 0 0 0;
	
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	
	border-left: 0.5rem solid #98D353;
	
	width: 0; 
	height: 0; 
}

/*
 * FORM SEPARATOR
 */
.form-field-separator{
	float: left;
	
	margin: 1.5rem 0 0 -2rem;
	
	height: 1px;
	
	background-color: #98D353; 
}

/***
 *
 *    TITlE    (FORM TITLE)
 *
 */
.form-title{
	margin-top: 0.9rem;
	margin-bottom: 1.3rem;
	
	font-size: 1.8rem;
	color:#78B333;
}

.form-subtitle{
	margin-top: -1rem;
	margin-bottom: 1rem;
	color:#999999; 
	font-size: 1.2rem;
	font-weight: normal;
	pointer-events: none;
}

/***
 *
 *    TEXT FIELD    (FORM FIELD)
 *
 */
.form-text{
	margin: 1rem 2rem 2rem 0;
	padding-left: 0;
	position:relative;
}

.form-text input, 
.form-text textarea{
	font-size: 1rem;
	width: 100%;
	padding: 10px 10px 10px 5px;
	border: none;
	border-bottom: 1px solid #757575;
	background-color: inherit;
}

.form-text textarea{
	resize: none;
}

.form-text input:focus, 
.form-text textarea:focus{ 
	outline: none;
}

/* radio */
.form-radio input[type=radio]:checked ~ label input, 
.form-radio input[type=radio]:checked ~ label textarea{
	border-bottom-color: rgb(241, 241, 241);
}

.form-radio input[type=radio] ~ label .form-text{
	position:relative;
	margin-left: -2rem;
}

/* 
 * LABEL
 */
.form-text label{
	position: absolute;
	top: 0;
	color:#999999; 
	font-size: 1.2rem;
	font-weight: normal;
	pointer-events: none;
	transition: 0.2s ease all; 
	-moz-transition: 0.2s ease all; 
	-webkit-transition: 0.2s ease all;
}

/* invalid */
.form-text input:invalid,
.form-text textarea:invalid{
	box-shadow: none;
}

/* invalid on focus */
.form-text input.invalid:focus ~ label,
.form-text input.filled.invalid ~ label,
.form-text textarea.invalid:focus ~ label,
.form-text textarea.filled.invalid ~ label{
	color:rgb(241, 30, 30);
}

/* valid */
/* on focus */
.form-text input:focus ~ label, 
.form-text input.filled ~ label,
.form-text textarea:focus ~ label, 
.form-text textarea.filled ~ label{
	top: -1.2rem;
	font-size: 0.8rem;
}

.form-text input.valid ~ label,
.form-text textarea.valid ~ label{
	color:#78B333;
}

/* radio */
.form-radio input[type=radio]:checked ~ label .form-text input ~ label,
.form-radio input[type=radio]:checked ~ label .form-text input.valid ~ label,
.form-radio input[type=radio]:checked ~ label .form-text textarea ~ label,
.form-radio input[type=radio]:checked ~ label .form-text textarea.valid ~ label{
	color: rgb(241, 241, 241);
}

.form-radio input[type=radio]:checked ~ label .form-text input,
.form-radio input[type=radio]:checked ~ label .form-text input.valid,
.form-radio input[type=radio]:checked ~ label .form-text textarea,
.form-radio input[type=radio]:checked ~ label .form-text textarea.valid{
	color: rgb(241, 241, 241);
}

/* 
 * BOTTOM BARS 
 */
.form-text-bar{
	position: relative;  
	display: block; 
	width: 0;
	height: 3px; 
	background:#78B333; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.form-text input ~ .form-text-bar{
	bottom: 1px;
} 

.form-text textarea ~ .form-text-bar{
	bottom: 6px;
}

.form-radio input[type=radio]:checked ~ label .form-text-bar{
	background-color: rgb(241, 241, 241);
}

/* invalid on focus */
.form-text input.invalid:focus ~ .form-text-bar,
.form-text input.invalid.filled ~ .form-text-bar,
.form-text textarea.invalid:focus ~ .form-text-bar,
.form-text textarea.invalid.filled ~ .form-text-bar{
	width: 100%;
	background-color:rgb(241, 30, 30);
}

/* valid */
/* on focus */
.form-text input:focus ~ .form-text-bar, 
.form-text input.valid ~ .form-text-bar,
.form-text input.filled ~ .form-text-bar,
.form-text textarea:focus ~ .form-text-bar, 
.form-text textarea.valid ~ .form-text-bar,
.form-text textarea.filled ~ .form-text-bar{
	width: 100%;
}

/*
 * Error Message
 */
.form-text-error{
	position: relative; 
	width: 100%;
	
	text-align: center;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: bold;
	color:rgb(241, 30, 30);
	 
	transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-webkit-transition: all 1s ease;
}

.form-text-error-hidden{
	display: none;
	height: 0;
}
 
/***
 *
 *    SUBMIT BUTTON    (FORM SUBMIT)
 *
 */
 
.form-submit button{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	 
	position: relative;
	 
	cursor: pointer;
	
	overflow: hidden;
	
	outline: none;
	border: none;
	border-radius: 2px;

	width: 100%;
	height: 3rem;
	line-height: 2rem;
	font-size: 0.9rem;
	
	padding: 0;

	background-color: #78B333;
	color: #fff;

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition: background 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
 
.form-submit button:hover, .form-submit button:focus{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color: #589313;
}

.form-submit button:before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	display: block;
	width: 0;
	padding-top: 0;
	
	border-radius: 100%;
	
	background-color: rgba(236, 240, 241, .3);
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	transition: width .2s ease-out, padding-top .2s ease-out;
}

.form-submit button:active:before {
	width: 120%;
	padding-top: 120%;
}

/***
 *
 *    RADIO BUTTON    (RADIO)
 *
 */

.form-radio input[type=radio]{
	display: none;
}
 
.form-radio .form-radio-field:hover > .form-radio-button{
	background-color: rgb(210, 210, 210);
}

.form-radio .form-radio-button{
	cursor: pointer;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	border-radius: 6px 0 0 6px;
	
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	
	color: #589313;
	font-weight: bold;
	
	transition: all .2s linear;
}
 
.form-radio input[type=radio]:not(:checked) ~ .form-radio-button:hover ~ .form-radio-label,
.form-radio input[type=radio]:not(:checked) ~ .form-radio-label:hover{
	background-color: rgb(210, 210, 210);
}

.form-radio input[type=radio]:checked ~ .form-radio-label{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	border-radius: 2px;
	background-color: #78B333;
	color: white;
}
 
.form-radio .form-radio-label{
	cursor: pointer;
	
	margin-bottom: 1rem;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	border-radius: 0 2px 2px 2px;
	
	padding: 1rem;
	
	transition: all .2s linear;
}

/**
 *
 *		SLIDER		(RANGE)
 *
 */
 
.form-range {
	margin-bottom: 1rem;
	
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 100%;
}
.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #78B333;
    margin-top: -4px;
}
.form-range:focus {
    outline: none;
}
.form-range:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.form-range::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.form-range::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #78B333;
}

/*hide the outline behind the border*/
.form-range:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.form-range::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
.form-range::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.form-range::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.form-range::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #78B333;
}
.form-range:focus::-ms-fill-lower {
    background: #888;
}
.form-range:focus::-ms-fill-upper {
    background: #ccc;
}

/*
 * Meter
 */
 
.form-range-meter{
	display: inline-block;
	
	border-radius: 100%;
	
	width: 1.8rem;
	height: 1.8rem;
	
	background-color: #78B333;
	color: rgb(241, 241, 241);
	
	text-align: center;
	line-height: 1.8rem;
	font-weight: bolder;
}